@layout LoginLayout

@page "/"
@inject NavigationManager NavigationManager
<PageTitle>loginPage</PageTitle>

<EditForm Model="@loginUser" OnValidSubmit="@ValidateUser">
    <div>
        <br /><br /><br /><br /><br />
    </div>
    <div>
        <h3 style="font-weight:bold; color:purple">Login</h3>
    </div>
    <div>
        <br />
    </div>
    <div class="col-12 row">
        <input class="form-control col-12" @bind="loginUser.EmailAddress" placeholder="email address" />
    </div>
    <br />
    <div class="col-12 row">
        <input type="password" class="form-control col-12" @bind="loginUser.Password" placeholder="password" />
    </div>
    <br />
    <div class="col-12 row cla">
        <span class="col-12"></span>
        <input type="submit" class="form-control col-6 btn btn-primary" value="Login" />
    </div>
    <br />
    <div class="col-12 row" style="text-align:center; font-weight:bold">
        <span class="col-12">@LoginMesssage</span>
    </div>
</EditForm>

@code {
    private User loginUser = new User();
    public string LoginMesssage { get; set; }

    private async Task<bool> ValidateUser()
    {
        if (loginUser.EmailAddress == "test" && loginUser.Password == "test")
        {
            NavigationManager.NavigateTo("/index");
        }
        else
        {
            LoginMesssage = "Invalid username or password";
        }
        return await Task.FromResult(true);
    }

}